site_name: Toni Kiuru
site_url: https://Tonzium.github.io/
site_description: CV
site_author: Toni Kiuru

theme:
  name: material
  palette:
    - scheme: slate
      primary: black
      accent: green
    - scheme: default
      primary: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - navigation.sections
    - toc.integrate
  # Default theme is dark (first palette)

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_javascript:
  - https://unpkg.com/mermaid@11/dist/mermaid.min.js
  - javascripts/mermaid-config.js

plugins:
  - search

nav:
  - Home: index.md